:root {
    --alt-orange: rgb(250, 200, 0);
}


.container-accent-1 {
    background-color: rgb(129, 152, 237);
}

.container-accent-2 {
    background-color: rgb(97, 115, 221);
}

.container-accent-3 {
    background-color: rgb(241, 195, 183);
}

.container-accent-4 {
    background-color: rgb(233, 108, 76);
}

.container-accent-wolfpack-red {
    background-color: rgb(204, 0, 0);
}

.container-accent-reynolds-red {
    background-color: rgb(153, 0, 0);
}


.container-accent-7 {
    background-color: rgb(241, 243, 254);
}

.container-accent-8 {
    background-color: rgb(15, 25, 40);
}

.container-accent-9 {
    background-color: rgb(81, 182, 220);
}

.container-accent-10 {
    background-color: rgb(147, 37, 181);
}

.container-accent-8-white-text {
    color: white;
}

.container-accent-8 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 0.3rem;
}

/* .container-accent-8 a, .container-accent-8 a:hover {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 0.3rem;
    color: inherit;
    text-decoration: inherit;
    display: block;
} */

.col-footer-links a, .col-footer-links a:hover {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 0.3rem;
    color: inherit;
    text-decoration: inherit;
    display: block;
}

.container-accent-8-highlight-text {
    color: rgb(183, 194, 211);
}

.container-border-top {
    border-top: 1px solid rgb(81, 84, 89);
}

.container-home h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}



body * {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


/* footer */

html, body {
    height: 100%;
    margin: 0;
}


.wrapper {
    /* min-height: 100%; */
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    /* margin-bottom: -50px; */
    /* ------ */
    /* min-height: 100%;
    margin: 0 auto -200px; */

    min-height: calc(100vh - 250px);

}

.footer {
    height: 250px;
    margin-top: 20px;
}

.footer-copyright-text {
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-size: small;
}


.col-text-align-center {
    text-align: center;
}

.col-text-align-right {
    text-align: right;
}

.col-icon-font-size {
    font-size: 25px;
}

/* icon */
i {
    margin-right: 5px;
    margin-left: 5px;
}

.heading:hover {
    text-decoration: underline;
    text-decoration-color: rgb(129, 152, 237);
    text-decoration-thickness: 3px;
}

.col-expand:hover {
    transform: scaleX(1.5);
    /* width: 500px; */
    transform-origin: 100% 0%;
    transition: all 0.5s;
}

.col-expand {
    transition: all 0.5s;
}


/* sourced from https://www.gradientmagic.com/ */

.col-pattern {
    background-image: linear-gradient(72deg, rgba(172, 172, 172,0.03) 0%, rgba(172, 172, 172,0.03) 6%,transparent 6%, transparent 100%),linear-gradient(89deg, rgba(230, 230, 230,0.01) 0%, rgba(230, 230, 230,0.01) 49%,transparent 49%, transparent 100%),linear-gradient(300deg, rgba(201, 201, 201,0.02) 0%, rgba(201, 201, 201,0.02) 92%,transparent 92%, transparent 100%),linear-gradient(29deg, rgba(95, 95, 95,0.03) 0%, rgba(95, 95, 95,0.03) 62%,transparent 62%, transparent 100%),linear-gradient(27deg, rgba(154, 154, 154,0.02) 0%, rgba(154, 154, 154,0.02) 39%,transparent 39%, transparent 100%),linear-gradient(240deg, rgba(142, 142, 142,0.01) 0%, rgba(142, 142, 142,0.01) 92%,transparent 92%, transparent 100%),linear-gradient(284deg, rgba(123, 123, 123,0.01) 0%, rgba(123, 123, 123,0.01) 58%,transparent 58%, transparent 100%),linear-gradient(70deg, rgba(90, 90, 90,0.01) 0%, rgba(90, 90, 90,0.01) 68%,transparent 68%, transparent 100%),linear-gradient(322deg, rgba(61, 61, 61,0.02) 0%, rgba(61, 61, 61,0.02) 39%,transparent 39%, transparent 100%),linear-gradient(28deg, rgba(106, 106, 106,0.01) 0%, rgba(106, 106, 106,0.01) 33%,transparent 33%, transparent 100%),linear-gradient(8deg, rgba(178, 178, 178,0.01) 0%, rgba(178, 178, 178,0.01) 23%,transparent 23%, transparent 100%),linear-gradient(267deg, rgba(248, 248, 248,0.01) 0%, rgba(248, 248, 248,0.01) 22%,transparent 22%, transparent 100%),linear-gradient(13deg, rgba(224, 224, 224,0.02) 0%, rgba(224, 224, 224,0.02) 13%,transparent 13%, transparent 100%),linear-gradient(75deg, rgba(10, 10, 10,0.03) 0%, rgba(10, 10, 10,0.03) 21%,transparent 21%, transparent 100%),linear-gradient(93deg, rgba(11, 11, 11,0.01) 0%, rgba(11, 11, 11,0.01) 42%,transparent 42%, transparent 100%),linear-gradient(286deg, rgba(247, 247, 247,0.01) 0%, rgba(247, 247, 247,0.01) 85%,transparent 85%, transparent 100%),linear-gradient(275deg, rgba(8, 8, 8,0.01) 0%, rgba(8, 8, 8,0.01) 88%,transparent 88%, transparent 100%),linear-gradient(206deg, rgba(141, 141, 141,0.03) 0%, rgba(141, 141, 141,0.03) 2%,transparent 2%, transparent 100%),linear-gradient(190deg, rgba(217, 217, 217,0.02) 0%, rgba(217, 217, 217,0.02) 44%,transparent 44%, transparent 100%),linear-gradient(319deg, rgba(57, 57, 57,0.03) 0%, rgba(57, 57, 57,0.03) 46%,transparent 46%, transparent 100%),linear-gradient(46deg, rgba(154, 154, 154,0.01) 0%, rgba(154, 154, 154,0.01) 57%,transparent 57%, transparent 100%),linear-gradient(342deg, rgba(48, 48, 48,0.02) 0%, rgba(48, 48, 48,0.02) 66%,transparent 66%, transparent 100%),linear-gradient(309deg, rgba(251, 251, 251,0.03) 0%, rgba(251, 251, 251,0.03) 24%,transparent 24%, transparent 100%),linear-gradient(132deg, rgba(10, 10, 10,0.02) 0%, rgba(10, 10, 10,0.02) 26%,transparent 26%, transparent 100%),linear-gradient(92deg, rgba(77, 77, 77,0.03) 0%, rgba(77, 77, 77,0.03) 34%,transparent 34%, transparent 100%),linear-gradient(328deg, rgba(122, 122, 122,0.01) 0%, rgba(122, 122, 122,0.01) 88%,transparent 88%, transparent 100%),linear-gradient(238deg, rgba(161, 161, 161,0.01) 0%, rgba(161, 161, 161,0.01) 58%,transparent 58%, transparent 100%),linear-gradient(115deg, rgba(29, 29, 29,0.03) 0%, rgba(29, 29, 29,0.03) 88%,transparent 88%, transparent 100%),linear-gradient(95deg, rgba(35, 35, 35,0.01) 0%, rgba(35, 35, 35,0.01) 66%,transparent 66%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

.col-pattern-orange {
    background-image: linear-gradient(135deg, transparent 0%, transparent 21%,rgba(253, 225, 42,0.5) 21%, rgba(253, 225, 42,0.5) 48%,transparent 48%, transparent 95%,rgba(247, 141, 81,0.5) 95%, rgba(247, 141, 81,0.5) 100%),linear-gradient(45deg, transparent 0%, transparent 6%,rgb(253, 225, 42) 6%, rgb(253, 225, 42) 13%,rgb(249, 169, 68) 13%, rgb(249, 169, 68) 32%,transparent 32%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

.col-pattern-blocks {
    background-image: linear-gradient(135deg, rgba(103, 103, 103,0.06) 0%, rgba(103, 103, 103,0.06) 50%,rgba(117, 117, 117,0.06) 50%, rgba(117, 117, 117,0.06) 100%),linear-gradient(135deg, rgba(49, 49, 49,0.06) 0%, rgba(49, 49, 49,0.06) 50%,rgba(228, 228, 228,0.06) 50%, rgba(228, 228, 228,0.06) 100%),linear-gradient(90deg, hsl(201,91%,51%),hsl(201,91%,51%)); background-size: 17px 17px;
}

.card-content h1{
    font-weight: 700;
    font-size: 30px;
}

.card-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.card-1:hover h1 {
    animation: color-change-1 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.card-2:hover h1 {
    animation: color-change-2 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.card-3:hover h1 {
    animation: color-change-3 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes color-change-1 {
    0% { color:black; }
    100% { color:rgb(129, 152, 237); }
}

@keyframes color-change-2 {
    0% { color:black; }
    100% { color:rgb(97, 115, 221); }
}

@keyframes color-change-3 {
    0% { color:black; }
    100% { color:rgb(250, 200, 0) }
}


/* border color change */

/* .card-1:hover {
    animation: color-change-1 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.card-2:hover {
    animation: color-change-2 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.card-3:hover {
    animation: color-change-3 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes color-change-1 {
    0% { border-color:black; }
    100% { border-color:rgb(129, 152, 237); }
}

@keyframes color-change-2 {
    0% { border-color:black; }
    100% { border-color:rgb(97, 115, 221); }
}

@keyframes color-change-3 {
    0% { border-color:black; }
    100% { border-color:rgb(250, 200, 0) }
} */

.container-section > h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.social-icon {
    display: inline;
}

.social-icon a, .social-icon a:hover {
    color: inherit;
    text-decoration: inherit;
}

.avatar-leadership img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.avatar-leadership {
    display: flex;
    justify-content: center;
}

.container-leadership h1{
    padding-top: 12px;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    margin: 0;
}

.container-leadership p{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.social-leadership {
    display: flex;
    justify-content: center;
}

.social-leadership .social-leadership-icon {
    background-color: #d9d9d9;
    border-radius: 50%;
    padding: 2px;
    margin: 4px;
}

.social-leadership .social-icon {
    font-size: 15px;
    color: #999;
}

.social-leadership .social-icon:hover {
    color: black;
}

.example i {
    margin: 0;
}

.example {
    margin: 0;
    padding: 0;
    width: fit-content;
    block-size: fit-content;
}
.example a {
    display: block;
    width: fit-content;
    height: fit-content;
}