{{define "main"}}
    <h1 style="margin-top: 25px;">Thank you to our supporters!</h1>
    <div class="row" style="padding: 50px;">
        <div class="col">
            <img src="/images/spiffy-logo.svg" draggable="false">
        </div> 
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row" style="padding: 50px;">
        <div class="col">
            <img src="/images/murano-logo.svg" draggable="false">
        </div> 
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>


{{end}}