{{ define "main" }}
    

    <div class="row">
        <div class="col" style="height: 600px; display: flex; justify-content: center; align-items: center;">
            <span><h1 class="heading" style="font-size: 50px;">Embedded Machine Learning</h1><h1 style="font-size: 35px">@ NC State University</h1></span>
        </div>
        <!-- <div class="col-md-2">
        </div> -->
        <div class="col" style="height: 600px; display: flex; justify-content: center; align-items: center;">
            <img src="/images/Blue.png" width="500px">
        </div>
        <!-- mic, award, play button for education, broadcast instead of mic, camera, joystick -->
    </div>
    


{{end}}

{{ define "body" }}
    <div class="container-accent-7" style="margin-top: 35px; margin-bottom: 35px;">
        <div class="container container-section" id="about">
            <h1 style="padding-top: 50px; text-align: center;">What we do</h1>
            <div class="row" style="padding-top: 25px; padding-bottom: 50px;">
                <div class="col" style="padding: 25px;">
                    <div class="card h-100 card-1">
                        <div class="card-body card-content">
                          <h1>Education</h1>
                          <p>Making machine learning and embedded systems more accessible and fun to learn, through training modules and hands-on experiences.</p>
                        </div>
                    </div>
                </div>
                <div class="col" style="padding: 25px;">
                    <div class="card h-100 card-2">
                        <div class="card-body card-content">
                          <h1>Outreach</h1>
                          <p>Building a platform to share expertise in machine learning.</p>
                        </div>
                    </div>
                </div>
                <div class="col" style="padding: 25px;">
                    <div class="card h-100 card-3">
                        <div class="card-body card-content">
                          <h1>Competition</h1>
                          <p>Hosting and participating in ML related competitions and hackathons.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-accent" style="margin-bottom: 35px;">
        <div class="container container-section" id="leadership">
            <h1 style="padding-top: 50px; text-align: center;">Leadership</h1>
            <div class="row" style="padding-top: 25px; padding-bottom: 50px;">
                <div class="col col-md-4" style="padding: 25px;">
                    <div class="container-leadership">
                        <div class="avatar-leadership">
                            <img src="/images/wear.jpg">
                        </div>
                        <h1>Cassidy Petrykowski</h1>
                        <p>CEO</p>
                        <div class="social-leadership">
                            <div class="social-leadership-icon">
                                <div class="social-icon">
                                    <a href="https://www.linkedin.com/in/cassidy-petrykowski-69907816b/">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                            <-- <div class="social-leadership-icon">
                                <div class="social-icon">
                                    <a href="https://github.com/cpetrykowski">
                                        <i class="bi bi-github"></i>
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col col-md-4" style="padding: 25px;">
                    <div class="container-leadership">
                        <div class="avatar-leadership">
                            <img src="/images/home-img.jpg">
                        </div>
                        <h1>Conner Borkowski</h1>
                        <p>COO</p>
                        <div class="social-leadership">
                            <-- <div class="social-leadership-icon">
                                <div class="social-icon">
                                    <a href="#!">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div> -->
                            <div class="social-leadership-icon">
                                <div class="social-icon">
                                    <a href="http://dcborkowski.com/">
                                        <i class="bi bi-globe"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4" style="padding: 25px;">
                    <div class="container-leadership">
                        <div class="avatar-leadership">
                            <img src="/images/drone.jpg">
                        </div>
                        <h1>Victor Minin</h1>
                        <p>CFO</p>
                        <div class="social-leadership">
                            <div class="social-leadership-icon">
                                <div class="social-icon">
                                    <a href="#!">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="social-leadership-icon">
                                <div class="social-icon">
                                    <a href="#!">
                                        <i class="bi bi-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4" style="padding: 25px;">
                    <div class="container-leadership">
                        <div class="avatar-leadership">
                            <img src="/images/drone.jpg">
                        </div>
                        <h1>Caleb Wheeler</h1>
                        <p>Vice CEO</p>
                        <div class="social-leadership">
                            <div class="social-leadership-icon">
                                <div class="social-icon">
                                    <a href="http://www.linkedin.com/in/cbwheele">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                            <-- <div class="social-leadership-icon">
                                <div class="social-icon">
                                    <a href="#!">
                                        <i class="bi bi-github"></i>
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col col-md-4" style="padding: 25px;">
                    <div class="container-leadership">
                        <div class="avatar-leadership">
                            <img src="/images/wear.jpg">
                        </div>
                        <h1>Anupam Mijar</h1>
                        <p>Vice COO</p>
                        <div class="social-leadership">
                            <div class="social-leadership-icon">
                                <div class="social-icon">
                                    <a href="https://www.linkedin.com/in/aamijar/">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="social-leadership-icon">
                                <div class="social-icon">
                                    <a href="https://github.com/aamijar">
                                        <i class="bi bi-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4" style="padding: 25px;">
                    <div class="container-leadership">
                        <div class="avatar-leadership">
                            <img src="/images/home-img.jpg">
                        </div>
                        <h1>Cassidy Petrykowski</h1>
                        <p>Vice CFO</p>
                        <div class="social-leadership">
                            <div class="social-leadership-icon">
                                <div class="social-icon">
                                    <a href="#!">
                                        <i class="bi bi-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="social-leadership-icon">
                                <div class="social-icon">
                                    <a href="#!">
                                        <i class="bi bi-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}
